/* *:before *:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
} */
/* .bg-image {
    background-image: url("../../images/pexels-timelockz-4497038.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
} */


div.wrapper>div.innerwrapper {
    /* height: 100%; */
    max-width: 100%;
    box-sizing: content-box;
    height: 2rem;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.wrapper>div.innerwrapper>p {
    color: var(--main3);
    font: 2rem var(--fontlato)
}

div.innerwrapper>div.words {
    height: 100%;
    color: white;
    /* border: 1px solid red; */
    overflow: hidden;
}

div.innerwrapper>div.words>span {
    /* border: 1px solid rgb(27, 143, 54); */
    display: block;
    padding-left: 1em;
    font: 600 1.5rem var(--fonttitillium);
    animation: spin 7s infinite;
}
.banner2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.banner2>h1 {
    font: 400 2.6em var(--fonttitillium);
}
.banner2>p {
    font: 400 1.5em var(--fonttitillium);
    margin: 0.5em;

}
.banner2>a>button {
    margin-bottom: 5vmax;
    border: 1px solid var(--main5);
    border-radius: 0;
    padding: 0.5em;
    cursor: pointer;
    width: 7vmax;
    font-size: 1.2rem;
    font-family: var(--fontlato);
    transition: all 0.2s;

}

.banner2>a>button:hover {
    background-color: var(--main2);
    color: white;
}
img.rocketlaunch{
    width: 40%;
   
}


@keyframes spin {
    10% {
        transform: translateY(-112%);
    }

    25% {
        transform: translateY(-100%);
    }

    35% {
        transform: translateY(-212%);
    }

    50% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-312%);
    }

    75% {
        transform: translateY(-300%);
    }

    85% {
        transform: translateY(-412%);
    }

    100% {
        transform: translateY(-400%);
    }
}

@media screen and (max-width:1275px){
    .banner2>a>button{
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width:1000px){
    .banner2>a>button{
        width: 10vmax;
    }
}
@media screen and (max-width:700px) {

    .wrapper>div.innerwrapper>p {
        font: 1.5rem var(--fontlato)
    }
    .banner2>a>button{
        width: 15vmax;
    }
}

@media screen and (max-width:600px) {
    .wrapper>div.innerwrapper>p {
        font: 1.3rem var(--fontlato)
    }

    div.innerwrapper>div.words {
        width: 100%;
    }

    div.innerwrapper>div.words>span {
        font: 600 1.2rem var(--fonttitillium);
    }
}

@media screen and (max-width:425px) {
    div.wrapper {
        height: 80vh;
        
    }

    div.wrapper>div.innerwrapper {
        height: 6em;
    }

    .wrapper>div.innerwrapper>p {
        font: 1.1rem var(--fontlato)
    }

    div.innerwrapper>div.words {
        height: 55%;
        width: 100%;

    }

    div.innerwrapper>div.words>span {
        font: 600 1rem var(--fonttitillium);
        margin-left: 10px;
        padding: 0.3em;
        animation: spinresposvie 7s infinite;
    }
}

@keyframes spinresposvie {
    10% {
        transform: translateY(-3em);

    }

    25% {
        transform: translateY(-3em);
    }

    35% {
        transform: translateY(-5.2em);
    }

    50% {
        transform: translateY(-5.1em);
    }

    60% {
        transform: translateY(-8.2em);
    }

    75% {
        transform: translateY(-8em);
    }

    85% {
        transform: translateY(-12em);
    }

    100% {
        transform: translateY(-11.9em);
    }
}
