.forgotPasswordContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .forgotPasswordBox {
    background-color: white;
    width: 30vw;
    height: 50vh;
    box-sizing: border-box;
  }
  
  .forgotPasswordHeading {
    text-align: center;
    font: 600 1.4rem var(--fonttitillium);
    padding: 0.5em;
    width: 50%;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.849);
  }
  
  
  .forgotPasswordForm {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 2em;
    transition: all 0.5s;
  }
  .forgotPasswordForm>div {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 1em;
  }
  div.forgotPasswordMsg{
    display: inline-block;
  }
  div.forgotPasswordMsg>h3{
    font:600 1.4rem var(--fonttitillium)
  }
  div.forgotPasswordMsg>p{
    font:0.8rem var(--fontlato)
  }
  
  .forgotPasswordForm>div>input {
    padding: 1em 4em;
    padding-right: 3em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 5px;
    font: 300 0.9rem var(--fontlato);
    outline: none;
  }
  
  .forgotPasswordForm>div>svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.623);
  }
  
  .forgotPasswordBtn {
    border: none;
    background-color: var(--main2);
    color: white;
    font: 300 0.9rem var(--fonttitillium);
    width: 100%;
    padding: 0.9em;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  
  .forgotPasswordBtn:hover {
    background-color: var(--main1);
  }
  

  @media screen and (max-width: 1250px) {
    .forgotPasswordContainer {
      top: 4em;
    }
  
    .forgotPasswordBox {
      width: 35vw;
      
      
    }
  
  }
  
  @media screen and (max-width: 1000px) {
    .forgotPasswordContainer {
      top: 4em;
    }
  
    .forgotPasswordBox {
      width: 40vw;
      /* height: 85vh; */
    }
  }
  @media screen and (max-width: 768px) {
    .forgotPasswordBox {
      width: 85vw;
      
    }
  
  }
  
  @media screen and (max-width: 375px) {
    .forgotPasswordContainer {
      background-color: white;
    }
    .forgotPasswordForm{
      justify-content: unset;
    }
    .forgotPasswordBox {
      width: 95vw;
      
    }
  
  }