.updatePasswordContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .updatePasswordBox {
    background-color: white;
    width: 25vw;
    height: 70vh;
    box-sizing: border-box;
   
  }
  .updatePasswordHeading {
    text-align: center;
    font: 600 1.4rem var(--fonttitillium);
    padding: 0.5em;
    width: 50%;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.849);
  }
  .updatePasswordForm {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 2em;
    transition: all 0.5s;
  }
  
  .updatePasswordForm>div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .updatePasswordForm>div>input {
    padding: 1em 4em;
    padding-right: 3em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 5px;
    font: 300 0.9rem var(--fontlato);
    outline: none;
  }
  
  .updatePasswordForm>div>svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.623);
  }
  
 .updatePasswordForm>div>span.showHide {
    margin-bottom: 1.1em;
  }
  .updatePasswordForm>div>span.showHide svg {
    cursor: pointer;
    position: absolute;
    transform: translateX(-2vmax);
    color: rgba(0, 0, 0, 0.623);
    
  }
  
  .updatePasswordBtn {
    border: none;
    background-color: var(--main2);
    color: white;
    font: 300 0.9rem var(--fonttitillium);
    width: 100%;
    padding: 0.8em;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
   
  }
  .updatePasswordBtn:hover {
    background-color: var(--main1);
  }

  
  @media screen and (max-width: 1250px) {
    .updatePasswordContainer {
      top: 4em;
    }
  
    .loginForm>div>span.showHide, .updatePasswordForm>div>span.showHide {
      margin-bottom: 1.1em;
    }
  
    .updatePasswordForm>div>span.showHide svg,
    .loginForm>div>span.showHide svg {
      position: absolute;
      transform: translateX(-3vmax);
  
    }
  
    .updatePasswordBox {
      width: 35vw;
      height: 75vh;
    }
  
    nav.login_signUp_toggle {
      height: 4vmax;
    }
  
    #registerImage>img {
      width: 4vmax;
    }
  
  
  }
  
  @media screen and (max-width: 768px) {
    .updatePasswordContainer {
      position: sticky;
    }
  
  
  
    .updatePasswordForm>div>span.showHide svg,
    .loginForm>div>span.showHide svg {
      transform: translateX(-5vmax);
  
    }
  
    .updatePasswordBox {
      width: 85vw;
      height: 90vh;
    }
  
    nav.login_signUp_toggle {
      height: 6vmax;
    }
  
    #registerImage>img {
      width: 6vmax;
    }
  
  }
  
  @media screen and (max-width: 375px) {
    .updatePasswordContainer {
      background-color: white;
    }
  
    nav.login_signUp_toggle {
      height: 8vmax;
    }
  
    .updatePasswordBox {
      width: 95vw;
      height: 95vh;
    }
  
    #registerImage>img {
      width: 8vmax;
    }
  
    .updatePasswordForm>div>span.showHide svg,
    .loginForm>div>span.showHide svg {
      transform: translateX(-7vmax);
  
    }
  
  }